{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}
    <h1>Prendre rende-vous</h1>

    {{ include('manage/appointment/_form.html.twig', {'button_label': 'Confirmer rendez-vous'}) }}

{% endblock %}
