{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('manage/appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('appointment.manage.show') }}">back to list</a>

    {{ include('manage/appointment/_delete_form.html.twig') }}
{% endblock %}
