{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Prendre rendez-vous</h1>
    {{ include('pages/appointment/_form.html.twig') }}
</div>
{% endblock %}
