{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}
    <h1>Prendre rendez-vous</h1>

    {{ include('pages/appointment/_form.html.twig') }}

{% endblock %}
